<div class="container row main__full ">
    {{{ButtonPrevious}}}
    <div class="main__content row row_center ">
        <div class="col-md-5">
            <div class="profile">

                {{> @partial-block }}
            </div>
        </div>
    </div>
</div>
