 <div class="container main__full ">
        <div class="row row_center">
          <div>
          <h1>Приложение чат</h1>
          <h2>Страницы проекта:</h2>
          <nav>
            <ul>
              <li><a href="?page=login" target="_blank">Авторизация</a></li>
              <li><a href="?page=signup" target="_blank">Регистрация</a></li>
              <li><a href="?page=profile" target="_blank">Профиль</a></li>
              <li><a href="?page=profileEdit" target="_blank">Редактирование профиля</a></li>
              <li><a href="?page=profileEditPassword" target="_blank">Обновить пароль</a></li>
              <li><a href="?page=404" target="_blank">404</a></li>
              <li><a href="?page=500" target="_blank">500</a></li>
              <li><a href="?page=chats" target="_blank">Чаты</a></li>
            </ul>
          </nav>
          </div>
        </div>
      </div>
