.menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 50px;
  right: 0;
  z-index: 5000;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  ul {
    padding: 0;
  }


}

.menu-chat {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0px;
    padding: 0px;
  }
}

.menu-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}
