{{#> layout }}
{{#> layoutProfile }}
<div>
    <ul class="flat-list profile__bio">
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="oldPassword" class="text-bold">Старый пароль</label>
                </div>
                <div>
                    <input id="oldPassword" type="password" name="oldPassword" class="text-input text-input_full text-right text-muted" value="pochta@yandex.ru" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="newPassword" class="text-bold">Новый пароль</label>
                </div>
                <div>
                    <input id="newPassword" type="password" name="newPassword" class="text-input text-input_full text-right text-muted" value="ivanivanov" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="newPassword2" class="text-bold">Повторите новый пароль</label>
                </div>
                <div>
                    <input id="newPassword2" type="password" name="first_name2" class="text-input text-input_full text-right text-muted" value="Иван" />
                </div>
            </div>
        </li>
    </ul>
    <div class="profile__buttons text-center">
        <button type="submit" class="btn btn_md btn_ocean btn_corner">
            Сохранить
        </button>
    </div>

</div>
{{/ layoutProfile}}
{{/layout}}
