{{#> layout }}
{{#> layoutProfile }}
<div>
    <ul class="flat-list profile__bio">
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="email" class="text-bold">Почта</label>
                </div>
                <div>
                    <input id="email" type="text" name="email" class="text-input text-input_full text-right text-muted" value="pochta@yandex.ru" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="login" class="text-bold">Логин</label>
                </div>
                <div>
                    <input id="login" type="text" name="login" class="text-input text-input_full text-right text-muted" value="ivanivanov" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="first_name" class="text-bold">Имя</label>
                </div>
                <div>
                    <input id="first_name" type="text" name="first_name" class="text-input text-input_full text-right text-muted" value="Иван" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="second_name" class="text-bold">Фамилия</label>
                </div>
                <div>
                    <input id="second_name" type="text" name="second_name" class="text-input text-input_full text-right text-muted" value="Иванов" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="display_name" class="text-bold">Имя в чате</label>
                </div>
                <div>
                    <input id="display_name" type="text" name="display_name" class="text-input text-input_full text-right text-muted" value="Иван" />
                </div>
            </div>
        </li>
        <li class="flat-list__item">
            <div class="row row_between row_middle row_height">
                <div>
                    <label for="phone" class="text-bold">Телефон</label>
                </div>
                <div>
                    <input id="phone" type="text" name="phone" class="text-input text-input_full text-right text-muted" value="+7 (909) 967 30 30" />
                </div>
            </div>
        </li>
    </ul>
    <div class="profile__buttons text-center">
        <button type="submit" class="btn btn_md btn_ocean btn_corner">
            Сохранить
        </button>
    </div>

</div>
{{/ layoutProfile}}
{{/layout}}
