{{#> layout }}
    {{#> layoutProfile }}
            <div>
                <ul class="flat-list profile__bio">
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Почта</span>
                            </div>
                            <div class="text-muted">pochta@yandex.ru</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Логин</span>
                            </div>
                            <div class="text-muted">ivanivanov</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Имя</span>
                            </div>
                            <div class="text-muted">Иван</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Фамилия</span>
                            </div>
                            <div class="text-muted">Иванов</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Имя в чате</span>
                            </div>
                            <div class="text-muted">Иван</div>
                        </div>
                    </li>
                    <li class="flat-list__item">
                        <div class="row row_between row_middle row_height">
                            <div>
                                <span class="text-bold">Телефон</span>
                            </div>
                            <div class="text-muted">+7 (909) 967 30 30</div>
                        </div>
                    </li>
                </ul>
                <nav>
                    <ul class="flat-list profile__buttons">
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                                <button type="button" class="btn btn_md btn_plain">
                                    Изменить данные
                                </button>
                            </div>
                        </li>
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                                <button type="button" class="btn btn_md btn_plain">
                                    Изменить пароль
                                </button>
                            </div>
                        </li>
                        <li class="flat-list__item">
                            <div class="row row_between row_middle row_height">
                                <button type="button" class="btn btn_md btn_plain btn_danger">
                                    Выйти
                                </button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
    {{/ layoutProfile}}
{{/layout}}
