<ul class="contacts m-1" >
    {{#each state.contacts  }}
        <li class="contacts__item {{#if active}} contacts__item_active {{/if}}"  >{{{ ContactsItem
            id=id
            active=active
            title=title
            unread=unread
            last_message=last_message
            created_by=created_by
            onClick=../setActive
            }}}  </li>
    {{/each}}
</ul>
