$font_main: Inter,Avenir,Helvetica,Arial, sans-serif;
$color-text: #333;
$text-size: 14px;
$background_default: #fff;
$background_avatar: #EFEFEF;
$color-ocean: #3369F3;
$color-gray: #e0e0e0;
$color-white: #FFFFFF;
$color-red: #FF0000;
