    <div class="container main__full main__vcenter">
        <div class="row row_center">
            <div class="col-md-3">
                <div class="card shadow corner p-4">
                    {{{ Head title="Вход" }}}
                    {{{ FormLogin}}}
                </div>
            </div>
        </div>
    </div>
